// User variables:
$accent: #ff403c
$text: #00284b
$gradient: linear-gradient(192.98deg, #00284b 31.14%, #ff403c 88.47%)
$black: #333
$education: #fdb515

$fix100vh: var(--app-height)
// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px
$gutter: $grid-gutter-width

// // Breakpoints mixin settings (node_modules/bootstrap/scss/mixins/_breakpoints.scss)
// // Example: +media-breakpoint-down(xs) - ≥576px / +media-breakpoint-up(sm) - // ≤576px
// // Default variables: node_modules/bootstrap/scss/_variables.scss
// $grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
